[Unit]
Description=Load_db Service
Requires=network.target spin_db.service
After=network.target spin_db.service

[Service]
User=%i
Group=%i
WorkingDirectory=/opt/brag-server
EnvironmentFile=/opt/brag-server/env
ExecStart=/opt/brag-server/load_db
Restart=on-failure

[Install]
WantedBy=multi-user.target
