[Unit]
Description=Load_db Service
Requires=network.target spin_db.service
After=network.target spin_db.service

[Service]
Type=exec
WorkingDirectory=/opt/brag-server
ExecStart=/opt/brag-server/start_load_db.sh

[Install]
WantedBy=multi-user.target
